test/
env/
__pycache__/
inswapper_128.onnx
pyvenv.cfg
lib64/
lib64/*
lib/
bin/
frames/*
middleware/*
share/
insightface
temp.jpg
Barbershop/
gfpgan/*
GFPGANv1.4.pth
GFPGANv1.4.pth:Zone.Identifier
cuda-repo-wsl-ubuntu-12-2-local_12.2.2-1_amd64.deb.2
cuda-repo-wsl-ubuntu-12-2-local_12.2.2-1_amd64.deb.1
cuda-repo-wsl-ubuntu-12-2-local_12.2.2-1_amd64.deb
static/
output.mp4
output.mp3
lib64
output.jpg
output-video.mp4
output-audio.mp3
temp-text.png
temp-new.jpgpre-temp.jpg